body{
	font-family: 'Poppins', sans-serif !important;
}
.header-navbar .navbar-header .navbar-brand .brand-text {
    display: inline;
    padding-left: 6px;
    font-weight: 500;
    vertical-align: middle;
    font-size: initial;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-container {
    float: right;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    content: ">";
    font-family: "LineAwesome";
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 13px;
    transform: rotate(0deg);
	transition: -webkit-transform 0.2s ease-in-out;
}
.navbar-semi-dark .navbar-header {
    background: #e4f6ff;
}
.main-menu.menu-dark .navigation {
    background: #3991fe;
}
.main-menu.menu-dark .navigation > li .active {
    background: #005cce !important;
}
.main-menu.menu-dark .navigation > li > a {
    padding: 12px 30px 12px 18px;
}
.main-menu.menu-dark .navigation li a {
    color: #ffffff;
}
.main-menu.menu-dark .navigation > li.hover > a {
    padding-left: 24px;
    border-right: 8px solid;
}
.main-menu.menu-dark {
    color: #dcdcdc;
    background: #3991fe;
    border-right: none !important;
}
.main__title-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    border-radius: 6px;
    border: 2px solid #f9ab00;
    margin-left: auto;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f8aa00;
    font-weight: 500;
}

.stats p {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    color: #2c343b;
    line-height: 100%;
}
.stats span {
    font-size: 14px;
    color: rgb(44 52 59);
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}
.main__table-text--rate i {
    font-weight: normal;
}
.main__table-text i {
    font-size: 14px;
    margin-right: 6px;
    color: #f9ab00;
    line-height: 24px;
    margin-top: 1px;
}

.login-bg {
    background-image: url(../../app-assets/images/backgrounds/section.jpg);
    padding: 53px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
	padding-top: 100px;
}

.trans-type.success {
    color: green;
}
.trans-type.danger {
    color: red;
}
/*==============================
	Main
==============================*/
.main {
  position: relative;
  margin-top: 70px;
  padding: 20px 0 10px;
}

.main__title h2 b {
  font-weight: 700;
}
.main__title-stat {
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  margin-left: 20px;
  margin-top: 9px;
}
.main__title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  width: 100%;
  margin-top: 20px;
}
.main__title-form {
  position: relative;
  margin-top: 20px;
  width: 100%;
}
.main__title-form input {
  border: none;
  height: 40px;
  color: #fff;
  padding: 0 50px 0 20px;
  border-radius: 6px;
  background-color: #222028;
  width: 100%;
  font-size: 16px;
  border: 2px solid transparent;
}
.main__title-form input:focus {
  border-color: #f9ab00;
}
.main__title-form button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
}
.main__title-form button i {
  margin-top: 2px;
}
.main__title-form button:hover {
  color: #f9ab00;
}
.main__title-link:hover {
    color: #f8aa00;
    background-color: rgb(44 52 59);
}
.main__table-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.main__table {
  width: 100%;
  min-width: 1050px;
  border-spacing: 0;
}
.main__table thead {
  border-bottom: 20px solid #1a191f;
}
.main__table thead th {
  font-size: 12px;
  color: rgba(255,255,255,0.7);
  font-weight: 400;
  padding: 0 15px 0 15px;
  line-height: 100%;
  margin-bottom: 0;
  border: none;
}
.main__table tbody tr {
  border-bottom: 10px solid #1a191f;
}
.main__table tbody td {
  padding: 0;
  background-color: transparent;
  border: 0px solid transparent;
}
.main__table tbody td:first-child .main__table-text {
  border-radius: 6px 0 0 6px;
}
.main__table tbody td:last-child .main__table-text,
.main__table tbody td:last-child .main__table-btns {
  border-radius: 0 6px 6px 0;
}
.main__table--dash {
  width: 100%;
  min-width: 500px;
}
.main__table--dash thead {
  border-bottom: 1px solid #1a191f;
}
.main__table--dash thead th {
  padding: 0 10px 15px 0;
}
.main__table--dash tbody tr {
  border-bottom: none;
  background-color: transparent;
}
.main__table--dash tbody td {
  padding: 0;
}
.main__table--dash tbody td .main__table-text {
  background-color: transparent;
  padding: 10px 15px 0 0;
}

.main__table-text a:hover {
  color: #f9ab00;
}
.main__table-text i {
  font-size: 14px;
  margin-right: 6px;
  color: #f9ab00;
  line-height: 24px;
  margin-top: 1px;
}
.main__table-text--rate {
  font-weight: 600;
  font-size: 16px;
}
.main__table-text--rate i {
  font-weight: normal;
}
.main__table-text--red {
  color: #eb5757;
}
.main__table-text--green {
  color: #29b474;
}
.main__table-text--grey {
  color: rgba(255,255,255,0.7);
}
.main__table-btns {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main__table-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
  color: #fff;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.05);
  margin-right: 10px;
}
.main__table-btn:last-child {
  margin-right: 0;
}
.main__table-btn--delete {
  background-color: rgba(235,87,87,0.08);
  color: #eb5757 !important;
}
.main__table-btn--delete:hover {
  color: #eb5757;
  background-color: rgba(235,87,87,0.2);
}
.main__table-btn--edit {
  background-color: rgba(47,128,237,0.08);
  color: #2f80ed;
}
.main__table-btn--edit:hover {
  color: #2f80ed;
  background-color: rgba(47,128,237,0.2);
}
.main__table-btn--banned {
  background-color: rgba(41,180,116,0.08);
  color: #29b474 !important;
}
.main__table-btn--banned:hover {
  color: #29b474;
  background-color: rgba(41,180,116,0.2);
}
.main__table-btn--view {
  background-color: rgba(255,195,18,0.08);
  color: #ffc312 !important;
}
.main__table-btn--view:hover {
  color: rgba(255,195,18,0.8);
  background-color: rgba(255,195,18,0.2);
}
.main__user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #222028;
  padding: 0 15px;
  height: 60px;
}
.main__meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 40px;
}
.main__meta h3 {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 20px;
}
.main__meta span {
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  line-height: 20px;
}
.main__avatar {
  display: block;
  position: relative;
  width: 40px;
  overflow: hidden;
  border-radius: 6px;
  margin-right: 15px;
  border: 1px solid rgba(255,255,255,0.1);
}
.main__avatar img {
  width: 100%;
}
@media (min-width: 576px) {
  .main__title-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main__title-form {
    margin-top: 0;
    width: 260px;
  }
}
@media (min-width: 768px) {
  .main {
    padding: 30px 0 20px;
  }
  .main__title-stat {
    margin-top: 10px;
  }
  .main__title-wrap {
    width: auto;
    margin-top: 0;
  }
 }
@media (min-width: 1200px) {
  .main {
    padding: 0 15px 30px 295px;
    margin-top: 0;
  }
}
/*==============================
	Stats
==============================*/
.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #222028;
    padding: 20px;
    height: 110px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    border-radius: 12px;
    box-shadow: 5px 4px 8px 1px #00000045;
}

.stats i {
    font-size: 5em;
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: #ffffff;
}

.stats span {
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}
.stats p {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  line-height: 100%;
}
@media (min-width: 768px) {
  .stats {
    margin-bottom: 30px;
  }
}
/*==============================
	Form
==============================*/
.form {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #222028;
  border-radius: 6px;
}
.form__title {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}
.form__label {
  font-weight: 400;
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  display: block;
}
.form__input {
  margin-bottom: 20px;
  width: 100%;
  background-color: #222028;
  border: 2px solid transparent;
  height: 46px;
  position: relative;
  color: #fff;
  font-size: 16px;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  padding: 0 20px;
}
.form__input:focus {
  border-color: #f9ab00;
}
.form__textarea {
  border: 2px solid transparent;
  display: block;
  height: 136px;
  position: relative;
  color: #fff;
  font-size: 16px;
  width: 100%;
  color: #fff;
  padding: 15px 20px;
  resize: none;
  background-color: #222028;
  margin-bottom: 20px;
  border-radius: 6px;
}
.form__textarea:focus {
  border-color: #f9ab00;
}
.form__btn {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    border-radius: 6px;
    border: 2px solid #f9ab00;
    margin-left: auto;
    font-size: 14px;
    color: #2c343b;
    text-transform: uppercase;
}
.form__btn:hover {
  color: #f8aa00;
    background-color: rgb(44 52 59);
}
.form__radio {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.form__radio li {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}
.form__radio li:last-child {
  margin-right: 0;
}
.form__radio span {
  font-size: 16px;
  color: #000;
}
.form__radio input:not(:checked),
.form__radio input:checked {
  position: absolute;
  left: -9999px;
}
.form__radio label {
  display: block;
  margin: 0;
  position: relative;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  line-height: 24px;
  padding-left: 25px;
  transition: 0.4s ease;
}
.form__radio label:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 4px solid rgba(249,171,0,0.6);
  background-color: transparent;
  border-radius: 50%;
  left: 0;
  top: 4px;
  transition: 0.4s ease;
}

.form__radio input:checked + label {
  color: #000;
}
.form__radio input:checked + label:before {
  border-color: #f9ab00;
}
.form__video {
  position: relative;
  width: 100%;
  height: 46px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 6px;
  overflow: hidden;
}
.form__video input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  z-index: 1;
}
.form__video label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 46px;
  color: rgba(255,255,255,0.7);
  padding: 0 50px 0 20px;
  background-color: #222028;
  margin: 0;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s ease;
}
.form__video label:before {
/*  content: 'ï«';*/
  pointer-events: none;
  font-family: "LineAwesome";
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 46px;
  font-size: 18px;
}
.form__video label:hover {
  color: #fff;
}
.form__gallery {
  position: relative;
  width: 100%;
  height: 46px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 6px;
}
.form__gallery input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  z-index: 1;
}
.form__gallery label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 46px;
  color: rgba(255,255,255,0.7);
  padding: 0 50px 0 20px;
  background-color: #222028;
  margin: 0;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s ease;
}
.form__gallery label:before {
/*  content: 'ï†ž';*/
  pointer-events: none;
  font-family: "LineAwesome";
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 46px;
  font-size: 18px;
}
.form__gallery label:hover {
  color: #fff;
}
.form__img {
  position: relative;
  width: 100%;
  height: 335px;
  overflow: hidden;
  background-color: #222028;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
}
.form__img input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.form__img label {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255,255,255,0.7);
  transition: 0.4s ease;
}
.form__img label:hover {
  color: #fff;
}
.form__img img {
  position: absolute;
  z-index: 1;
  top: -100px;
  right: -100px;
  bottom: -100px;
  left: -100px;
  margin: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .form {
    padding: 30px;
    margin-bottom: 30px;
  }
  .form--profile {
    padding: 20px;
  }
  .form__cover {
    -ms-flex: 0 0 290px;
    flex: 0 0 290px;
    max-width: 290px;
  }
  .form__content {
    -ms-flex: 0 0 calc(100% - 290px);
    flex: 0 0 calc(100% - 290px);
    max-width: 100%;
  }
}
/*==============================
	Profile
==============================*/
.profile__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  background-color: #222028;
  margin-bottom: 20px;
  position: relative;
  border-radius: 6px;
}
.profile__user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.profile__meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 40px;
}
.profile__meta h3 {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 20px;
}
.profile__meta span {
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  line-height: 20px;
}
.profile__meta--green h3 span {
  color: #29b474;
}
.profile__meta--red h3 span {
  color: #eb5757;
}
.profile__avatar {
  display: block;
  position: relative;
  width: 50px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  margin-right: 15px;
  border: 1px solid rgba(255,255,255,0.1);
}
.profile__avatar img {
  width: 100%;
}
.profile__tabs {
  display: none;
}
.profile__mobile-tabs {
  position: relative;
  margin-bottom: -10px;
}
.profile__mobile-tabs-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  height: 30px;
  transition: 0.4s ease;
}
.profile__mobile-tabs-btn input {
  display: block;
  position: relative;
  width: auto;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  height: 30px;
  margin-right: 10px;
}
.profile__mobile-tabs-btn span {
  position: relative;
  width: 16px;
  height: 16px;
  display: block;
  margin-top: 3px;
}
.profile__mobile-tabs-btn span:before,
.profile__mobile-tabs-btn span:after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 2px;
  background-color: #fff;
  left: 0;
  top: 50%;
  transition: 0.4s ease;
  margin-top: -5px;
  border-radius: 2px;
}
.profile__mobile-tabs-btn span:after {
  margin-top: 2px;
  width: 10px;
}
.profile__mobile-tabs-btn[aria-expanded="true"] span:before {
  transform: rotate(45deg);
  margin-top: -2px;
  background-color: #f9ab00;
}
.profile__mobile-tabs-btn[aria-expanded="true"] span:after {
  margin-top: -2px;
  width: 16px;
  transform: rotate(-45deg);
  background-color: #f9ab00;
}
.profile__mobile-tabs-btn:hover span:before,
.profile__mobile-tabs-btn:hover span:after {
  background-color: #f9ab00;
}
.profile__mobile-tabs-menu {
  top: 100%;
  left: 0;
  margin-top: -10px;
  min-width: 200px;
  padding: 20px;
  background-color: #222028;
  display: block;
  transition: 0.4s ease;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  border-radius: 6px;
}
.profile__mobile-tabs-menu li a {
  margin-bottom: 15px;
}
.profile__mobile-tabs-menu li:last-child a {
  margin-bottom: 0;
}
.profile__mobile-tabs-menu a {
  display: block;
  font-size: 14px;
  color: #fff;
  position: relative;
  width: 100%;
}
.profile__mobile-tabs-menu a:hover {
  color: #f9ab00;
}
.profile__mobile-tabs-menu a.active {
  display: none;
}
.profile__mobile-tabs-menu.show {
  pointer-events: auto;
  opacity: 1;
  margin-top: 0;
}
.profile__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.profile__action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.05);
  margin-right: 10px;
}
.profile__action:last-child {
  margin-right: 0;
}
.profile__action--delete {
  background-color: rgba(235,87,87,0.08);
  color: #eb5757;
}
.profile__action--delete:hover {
  color: #eb5757;
  background-color: rgba(235,87,87,0.2);
}
.profile__action--banned {
  background-color: rgba(41,180,116,0.08);
  color: #29b474;
}
.profile__action--banned:hover {
  color: #29b474;
  background-color: rgba(41,180,116,0.2);
}
@media (min-width: 768px) {
  .profile__content {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    margin-bottom: 30px;
  }
  .profile__user {
    width: auto;
    margin-bottom: 0;
    margin-right: 40px;
  }
  .profile__tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  .profile__tabs li {
    margin-right: 40px;
  }
  .profile__tabs li:last-child {
    margin-right: 0;
  }
  .profile__tabs a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
  }
  .profile__tabs a:hover {
    color: #f9ab00;
  }
  .profile__tabs a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-color: #f9ab00;
    transition: 0.4s ease;
    transform: translateY(2px);
    opacity: 0;
    border-radius: 2px 2px 0 0;
  }
  .profile__tabs a.active {
    color: #f9ab00;
  }
  .profile__tabs a.active:before {
    opacity: 1;
    transform: translateY(0);
  }
  .profile__mobile-tabs {
    display: none;
  }
  .profile__actions {
    position: relative;
    top: auto;
    right: auto;
    margin-left: auto;
  }
  .profile__action {
    margin-right: 15px;
  }
  .profile__action:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .profile__tabs li {
    margin-right: 45px;
  }
  .profile__tabs li:last-child {
    margin-right: 0;
  }
  .profile__user {
    margin-right: 60px;
  }
}
/*==============================
	Comments
==============================*/
.comments__autor {
  display: block;
  position: relative;
  padding-left: 75px;
  margin-bottom: 15px;
}
.comments__avatar {
  position: absolute;
  top: 0;
  left: 20px;
  width: 40px;
  border-radius: 6px;
}
.comments__name {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  font-weight: 400;
}
.comments__time {
  display: block;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  line-height: 20px;
  font-weight: 400;
}
.comments__text {
  display: block;
  margin: 0 20px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  background-color: #1a191f;
  padding: 20px 0;
  position: relative;
  border-top: 1px solid #222028;
  border-bottom: 1px solid #222028;
}
.comments__text span {
  display: block;
  background-color: #222028;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  min-height: 80px;
  border-radius: 6px;
  color: #fff;
}
.comments__text span:before {
  content: '\f1f5';
  position: absolute;
  display: block;
  font-family: "LineAwesome";
  color: rgba(249,171,0,0.1);
  font-size: 60px;
  top: 10px;
  left: 15px;
  line-height: 100%;
  z-index: 1;
  pointer-events: none;
}
.comments__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #1a191f;
  padding: 15px 20px;
  position: relative;
}
.comments__actions span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  margin-right: 20px;
  height: 22px;
  text-transform: uppercase;
}
.comments__actions span i {
  margin-right: 5px;
}
.comments__actions span:last-child {
  margin-right: 0;
}
.comments__rate {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.comments__rate span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.6);
  font-size: 14px;
  margin-right: 25px;
  position: relative;
  height: 30px;
}
.comments__rate span i {
  font-size: 18px;
  opacity: 0.6;
  transition: 0.4s ease;
}
.comments__rate span:last-child {
  margin-right: 0;
}
.comments__rate span:last-child i {
  margin-left: 6px;
  color: #eb5757;
}
.comments__rate span:first-child i {
  margin-right: 6px;
  color: #29b474;
}
.comments__rate span:first-child:before {
  content: '';
  position: absolute;
  display: block;
  left: 100%;
  margin-left: 12px;
  width: 1px;
  height: 15px;
  background-color: #222028;
  top: 50%;
  transform: translateY(-50%);
}
/*==============================
	Reviews
==============================*/
.reviews__autor {
  display: block;
  position: relative;
  padding-left: 75px;
  margin-bottom: 15px;
  padding-right: 60px;
}
.reviews__avatar {
  position: absolute;
  top: 0;
  left: 20px;
  width: 40px;
  border-radius: 6px;
}
.reviews__name {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  font-weight: 400;
}
.reviews__time {
  display: block;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  font-weight: 400;
  line-height: 20px;
}
.reviews__text {
  display: block;
  margin: 0 20px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  background-color: #1a191f;
  padding: 20px 0;
  position: relative;
  border-top: 1px solid #222028;
}
.reviews__rating {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  right: 20px;
  top: 8px;
}
.reviews__rating i {
  margin-right: 6px;
  color: #f9ab00;
}

.dtp {
    position: relative;
    background-color: #222028;
    padding: 15px;
    color: white;
    border-radius: 6px;
    font-weight: 300;
    line-height: 1.5;
}

.colo-1{background-color: #ff1700}
.colo-2{background-color: #a200d4}
.colo-3{background-color: #4900c6}
.colo-4{background-color: #0247fe}
.colo-5{background-color: #00b2ff}
.colo-6{background-color: #006d15}
.colo-7{background-color: #ff4e00}
.colo-8{background-color: #000}
.colo-9{background-color: #ddd}

.table.table-sm td, .table.table-sm th {
    padding: 1rem 2rem;
}
.table thead th {
    text-transform: uppercase;
    font-weight: bold;
}
.modal-dialog {
    position: relative;
    width: auto;
    pointer-events: none;
    top: 30%;
}

.header-navbar .navbar-header .navbar-brand {
    padding: 10px 0;
    margin-right: 0;
}
.header-navbar .navbar-header .navbar-brand .brand-logo {
    width: 150px;
    height: 60px;
}
.card-title img {
    width: 300px;
    padding: 0;
    height: 148px;
}

.disgabell{
	opacity: 0.2;
    cursor: not-allowed;
}

